.topic {
    /* background-color: rgb(230, 215, 215); */
    background-color: white;
    border: 1px solid rgb(241, 225, 225);
    border-radius: 8px;

}

.topic img {
    height: 300px;
    width: 85%;
    margin-top: 4%;
    background-color: rgb(208, 201, 201);
    border-radius: 8px;


}

.topic-inside-div {
    display: flex;
    justify-content: space-between;
    padding-bottom: 4%;
}

.topic-inside-div p {
    padding-right: 5%;
    margin-bottom: 0;
    margin-left: 7%;
    font-size: 20px;

}

.topic-inside-div button {
    background-color: #cd487c;
    color: white;
    font-weight: bold;
    border: 0;
    padding: 1% 4%;
    margin-right: 7%;
    border-radius: 4px;
}

.topic-inside-div button:hover {
    opacity: 0.9;
}