.showoptions {
    border: 1px solid #cd487c;

    border-radius: 8px;
    margin: 3% 0;
    width: 90%;
}

.showoptions p {

    margin-bottom: 0;
    padding: 2%;
    font-weight: 600;

}

.showoptions p:hover {
    background-color: #cd487c;
    color: white;
    cursor: pointer;
}