.navigations {
    background-color: #fff;
    padding: 1%;
    display: flex;
    justify-content: space-between;
}

.navigations a {
    text-decoration: none;
    padding: 15%;
    color: black;
    font-size: 22px;
}

.knowledgebit a:hover {
    color: black;
}

.topics {
    margin-right: 15%;
}

.topics a:hover {
    text-decoration: underline;
    color: #cd487c;
}

.knowledgebit {
    font-weight: bold;
    font-size: 29px;
}