.navigations {
    background-color: #fff;
    padding: 1%;
    display: flex;
    justify-content: space-between;
}

.navigations a {
    text-decoration: none;
    padding: 15%;
    color: black;
    font-size: 22px;
}

.knowledgebit a:hover {
    color: black;
}

.topics {
    margin-right: 15%;
}

.topics a:hover {
    text-decoration: underline;
    color: #cd487c;
}

.knowledgebit {
    font-weight: bold;
    font-size: 29px;
}

@media screen and (max-width:767px) {
    .navigations a {
        text-decoration: none;
        padding: 5%;
        color: black;
        font-size: 17px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .navigations a {
        text-decoration: none;
        padding: 7%;
        color: black;
        font-size: 21px;
    }
}